main{
  margin-top: 30px;
  display:grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-gap:2.5em;
}
.noticias a{
  margin-top:50px;
   width:100px;
   height: 50px;
   background-color: #f0c483a8;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   font-size: 1em;
   border-radius: 2px;
   transition: background 400ms;
}
a:hover{
  background-color: #EDC280;
  
}
main .tipos input{
  margin-top: 30px;
  width:80%;
  outline: none;
  margin-bottom: 20px
}
main .tipos p{
  font-size: 13px;
  color:#af9f6b;
  line-height: 1.2em;
  margin-bottom:10px;

}
main h1 , .tipos h1{
  font-size: 1.5em;
  font-weight: 400;
  color:#333;
  margin-bottom:30px;
  margin-top: 30px;
}
.contacto{
  margin-top: 30px;
}
iframe{
  
  width:450px;
}
main input, textarea {
  background-color: #f0f0f5;
  padding: 16px 24px;
  border:0;
  font-size:16px;
  border-radius: 8px;
  outline: #eee;
  width: 100%;
}

@media(max-width:1067px){
 main{
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 iframe{
   width: 100%;
 }
}




h6{
  color:#8f8f8f;
    font-size:12px;
  margin-top:5px;
  
}
